parameters:
    level: max

    bootstrapFiles:
        - phpstan.bootstrap.php

    paths:
        - Classes
        - Tests

    checkMissingIterableValueType: false

    polluteCatchScopeWithTryAssignments: false
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportStaticMethodSignatures: true
    checkUninitializedProperties: true

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Cannot call method fetchAll\(\) on Doctrine\\DBAL\\Driver\\ResultStatement\|int\.#'
            paths:
                - Classes
        -
            message: '#Cannot call method rowCount\(\) on Doctrine\\DBAL\\Driver\\ResultStatement\|int\.#'
            paths:
                - Classes
        -
            message: '#Argument of an invalid type Doctrine\\DBAL\\Driver\\ResultStatement\|int supplied for foreach, only iterables are supported\.#'
            paths:
                - Classes
        -
            message: '#Parameter \#2 \$callback of function array_walk expects callable\(mixed, int\): mixed, Closure.* given.#'
            paths:
                - Classes
