parameters:
    level: 8

    bootstrapFiles:
        - phpstan.bootstrap.php

    paths:
        - Classes
        - Tests

    # Exclude XClasses for ExtensionBuilder until it has TYPO3 v11 support
    excludePaths:
        - Classes/ExtensionBuilder/

    checkDynamicProperties: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportStaticMethodSignatures: true
    checkUninitializedProperties: true

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Parameter \#1 \$callback of function array_map expects \(callable\(string\|false\): mixed\)\|null, ''trim'' given\.#'
            paths:
                - Classes
